<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
{% extends "base.html" %}
{% block content %}
<body>
    <style type="text/css">
        p {
          width: 75%;
          font-size: 1.05em
            }
        address {
          margin-top: 1em;
          padding-top: 1em }
    </style>
    <h1>Социолингвистическое исследование</h1>
    <p>Здравствуйте!
    <p>Мы - студенты НИУ ВШЭ, проводим небольшой социолингвистический опрос.
        Просим принять участие в нашем исследовании. Его прохождение займет несколько минут.
        Опрос полностью анонимный. Ответы, которые Вы дадите, будут использоваться в обобщенном виде.
        Заранее большое спасибо за то, что решили поучаствовать!
    <p>В верхнем меню вы можете посмотреть на вашу анкету участника, ваши ответы и статистику ответов всех участников</p>
    <form action="/survey">
        <input type="submit" value="Начать прохождение" />
    </form>
    <address>Школа лингвистики НИУ ВШЭ, 2023</address>
</body>
{% endblock %}
</html>